# Limpando dataset tweets

## Fonte dos dados
[Kaggle](https://www.kaggle.com/datasets/edqian/twitter-climate-change-sentiment-dataset)

In [21]:
# import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import json
import time
pd.set_option('display.max_columns', None)

df_tmp = pd.read_csv('../data/twitter/twitter_sentiment_data.csv',comment='#')

In [22]:
df_tmp.columns = df_tmp.columns.str.upper()

In [23]:
df_tmp

,SENTIMENT,MESSAGE,TWEETID
0,-1,@tiniebeany climate change is an interesting h...,792927353886371840
1,1,RT @NatGeoChannel: Watch #BeforeTheFlood right...,793124211518832641
2,1,Fabulous! Leonardo #DiCaprio's film on #climat...,793124402388832256
3,1,RT @Mick_Fanning: Just watched this amazing do...,793124635873275904
4,2,"RT @cnalive: Pranita Biswasi, a Lutheran from ...",793125156185137153
...,...,...,...
43938,1,"Dear @realDonaldTrump,\nYeah right. Human Medi...",791307031919550464
43939,1,What will your respective parties do to preven...,791316857403936768
43940,2,RT @MikkiL: UN Poll Shows Climate Change Is th...,791357509101621249
43941,0,RT @taehbeingextra: i still can$q$t believe th...,791390042136641537
43942,1,@Likeabat77 @zachhaller \n\nThe wealthy + foss...,791401610308038656

## Convertendo data e filtrando

In [25]:
def tweet_id_to_date(id):
    timestamp = (id>>22) + 1288834974657
    return time.ctime(timestamp/1000)
    
df_tmp['DATE'] = df_tmp['TWEETID'].apply(tweet_id_to_date)#pd.to_datetime(df_tmp['TWEETID'], format='%Y-%m-%d')

In [27]:
df = df_tmp[['TWEETID', 'MESSAGE', 'DATE', 'SENTIMENT']]

In [28]:
df

,TWEETID,MESSAGE,DATE,SENTIMENT
0,792927353886371840,@tiniebeany climate change is an interesting h...,Mon Oct 31 00:13:07 2016,-1
1,793124211518832641,RT @NatGeoChannel: Watch #BeforeTheFlood right...,Mon Oct 31 13:15:22 2016,1
2,793124402388832256,Fabulous! Leonardo #DiCaprio's film on #climat...,Mon Oct 31 13:16:07 2016,1
3,793124635873275904,RT @Mick_Fanning: Just watched this amazing do...,Mon Oct 31 13:17:03 2016,1
4,793125156185137153,"RT @cnalive: Pranita Biswasi, a Lutheran from ...",Mon Oct 31 13:19:07 2016,2
...,...,...,...,...
43938,791307031919550464,"Dear @realDonaldTrump,\nYeah right. Human Medi...",Wed Oct 26 12:54:32 2016,1
43939,791316857403936768,What will your respective parties do to preven...,Wed Oct 26 13:33:35 2016,1
43940,791357509101621249,RT @MikkiL: UN Poll Shows Climate Change Is th...,Wed Oct 26 16:15:07 2016,2
43941,791390042136641537,RT @taehbeingextra: i still can$q$t believe th...,Wed Oct 26 18:24:24 2016,0
43942,791401610308038656,@Likeabat77 @zachhaller \n\nThe wealthy + foss...,Wed Oct 26 19:10:22 2016,1