# Limpando dataset tweets

## Fonte dos dados
[Kaggle](https://www.kaggle.com/datasets/edqian/twitter-climate-change-sentiment-dataset)

In [1]:
# import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import json
import time
from datetime import datetime
pd.set_option('display.max_columns', None)

df_tmp = pd.read_csv('../data/twitter/twitter_sentiment_data.csv',comment='#')

In [2]:
df_tmp.columns = df_tmp.columns.str.upper()

In [3]:
df_tmp

,SENTIMENT,MESSAGE,TWEETID
0,-1,@tiniebeany climate change is an interesting h...,792927353886371840
1,1,RT @NatGeoChannel: Watch #BeforeTheFlood right...,793124211518832641
2,1,Fabulous! Leonardo #DiCaprio's film on #climat...,793124402388832256
3,1,RT @Mick_Fanning: Just watched this amazing do...,793124635873275904
4,2,"RT @cnalive: Pranita Biswasi, a Lutheran from ...",793125156185137153
...,...,...,...
43938,1,"Dear @realDonaldTrump,\nYeah right. Human Medi...",791307031919550464
43939,1,What will your respective parties do to preven...,791316857403936768
43940,2,RT @MikkiL: UN Poll Shows Climate Change Is th...,791357509101621249
43941,0,RT @taehbeingextra: i still can$q$t believe th...,791390042136641537
43942,1,@Likeabat77 @zachhaller \n\nThe wealthy + foss...,791401610308038656

## Convertendo data e filtrando

In [4]:
def tweet_id_to_date(id):
    timestamp = (id>>22) + 1288834974657
    utcdttime = datetime.utcfromtimestamp(timestamp/1000)
    return utcdttime
    
df_tmp['DATE'] = df_tmp['TWEETID'].apply(tweet_id_to_date)

In [5]:
df_tmp

,SENTIMENT,MESSAGE,TWEETID,DATE
0,-1,@tiniebeany climate change is an interesting h...,792927353886371840,2016-10-31 03:13:07.701
1,1,RT @NatGeoChannel: Watch #BeforeTheFlood right...,793124211518832641,2016-10-31 16:15:22.218
2,1,Fabulous! Leonardo #DiCaprio's film on #climat...,793124402388832256,2016-10-31 16:16:07.725
3,1,RT @Mick_Fanning: Just watched this amazing do...,793124635873275904,2016-10-31 16:17:03.392
4,2,"RT @cnalive: Pranita Biswasi, a Lutheran from ...",793125156185137153,2016-10-31 16:19:07.444
...,...,...,...,...
43938,1,"Dear @realDonaldTrump,\nYeah right. Human Medi...",791307031919550464,2016-10-26 15:54:32.840
43939,1,What will your respective parties do to preven...,791316857403936768,2016-10-26 16:33:35.418
43940,2,RT @MikkiL: UN Poll Shows Climate Change Is th...,791357509101621249,2016-10-26 19:15:07.538
43941,0,RT @taehbeingextra: i still can$q$t believe th...,791390042136641537,2016-10-26 21:24:24.018
43942,1,@Likeabat77 @zachhaller \n\nThe wealthy + foss...,791401610308038656,2016-10-26 22:10:22.085

In [6]:
df_tmp.dtypes

SENTIMENT             int64
MESSAGE              object
TWEETID               int64
DATE         datetime64[ns]
dtype: object

In [7]:
df = df_tmp[['TWEETID', 'MESSAGE', 'DATE', 'SENTIMENT']]

In [8]:
df.tail()

,TWEETID,MESSAGE,DATE,SENTIMENT
43938,791307031919550464,"Dear @realDonaldTrump,\nYeah right. Human Medi...",2016-10-26 15:54:32.840,1
43939,791316857403936768,What will your respective parties do to preven...,2016-10-26 16:33:35.418,1
43940,791357509101621249,RT @MikkiL: UN Poll Shows Climate Change Is th...,2016-10-26 19:15:07.538,2
43941,791390042136641537,RT @taehbeingextra: i still can$q$t believe th...,2016-10-26 21:24:24.018,0
43942,791401610308038656,@Likeabat77 @zachhaller \n\nThe wealthy + foss...,2016-10-26 22:10:22.085,1

In [9]:
df.dtypes

TWEETID               int64
MESSAGE              object
DATE         datetime64[ns]
SENTIMENT             int64
dtype: object

In [10]:
df.to_csv('../data/twitter/twitter_sentiment_data_cleaned.csv',index=False)