# Pergunta 2 - É possível um país dissociar o crescimento econômico do aumento de emissões?

## Leitura e análise inicial dos dados

Inicializar um DataFrame a partir do arquivo `../data/Gas Emissions/total-ghg-emissions.csv`

In [2]:
# Resposta:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df_emissions = pd.read_csv('../data/Gas Emissions/total-ghg-emissions.csv', sep=',')
df_emissions.head(n=15)

         Entity Code  Year  Total including LUCF
0   Afghanistan  AFG  1990          9.580000e+06
1   Afghanistan  AFG  1991          9.810000e+06
2   Afghanistan  AFG  1992          9.030000e+06
3   Afghanistan  AFG  1993          9.110000e+06
4   Afghanistan  AFG  1994          9.150000e+06
5   Afghanistan  AFG  1995          9.580000e+06
6   Afghanistan  AFG  1996          1.061000e+07
7   Afghanistan  AFG  1997          1.158000e+07
8   Afghanistan  AFG  1998          1.240000e+07
9   Afghanistan  AFG  1999          1.328000e+07
10  Afghanistan  AFG  2000          1.150000e+07
11  Afghanistan  AFG  2001          1.237000e+07
12  Afghanistan  AFG  2002          1.501000e+07
13  Afghanistan  AFG  2003          1.565000e+07
14  Afghanistan  AFG  2004          1.544000e+07

Inicializa outro Dataframe de PIB (GDP)

In [3]:
df_gdp = pd.read_csv('../data/GDP/GDP_Countries.csv', sep = ',')

df_gdp = df_gdp.drop(['Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', 'Unnamed: 66'], axis=1)

df_gdp = df_gdp.melt(id_vars=['Country Name', 'Country Code'], var_name = 'Year', value_name = 'GDP')

df_gdp["Year"] = pd.to_numeric(df_gdp["Year"])

df_gdp.head(n=15)

                   Country Name Country Code  Year           GDP
0                         Aruba          ABW  1991  8.720670e+08
1   Africa Eastern and Southern          AFE  1991  2.734028e+11
2                   Afghanistan          AFG  1991           NaN
3    Africa Western and Central          AFW  1991  1.174571e+11
4                        Angola          AGO  1991  1.060378e+10
5                       Albania          ALB  1991  1.099559e+09
6                       Andorra          AND  1991  1.106929e+09
7                    Arab World          ARB  1991  4.715260e+11
8          United Arab Emirates          ARE  1991  5.155217e+10
9                     Argentina          ARG  1991  1.897200e+11
10                      Armenia          ARM  1991  2.069870e+09
11               American Samoa          ASM  1991           NaN
12          Antigua and Barbuda          ATG  1991  4.817074e+08
13                    Australia          AUS  1991  3.259030e+11
14                      Austria          AUT  1991  1.737942e+11

Inicializo o dataframe de GDP per Capita e o de IDH

In [4]:
df_gdp_capita = pd.read_csv('../data/gdp-per-capita.csv', sep = ';', decimal=',')

df_gdp_capita = df_gdp_capita.drop(['Indicator Name', 'Column1', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990'], axis=1)

df_gdp_capita = df_gdp_capita.melt(id_vars=['Country Name', 'Country Code'], var_name = 'Year', value_name = 'GDP_Per_Capita')

df_gdp_capita["Year"] = pd.to_numeric(df_gdp_capita["Year"])

df_gdp_capita.head(n=15)

                   Country Name Country Code  Year  GDP_Per_Capita
0                         Aruba          ABW  1991    1.349470e+14
1   Africa Eastern and Southern          AFE  1991    8.723910e+14
2                   Afghanistan          AFG  1991             NaN
3    Africa Western and Central          AFW  1991    5.584360e+14
4                        Angola          AGO  1991    8.656930e+13
5                       Albania          ALB  1991    3.365870e+14
6                       Andorra          AND  1991    1.953430e+14
7                    Arab World          ARB  1991    2.061480e+14
8          United Arab Emirates          ARE  1991    2.661230e+13
9                     Argentina          ARG  1991    5.735360e+13
10                      Armenia          ARM  1991    5.905060e+14
11               American Samoa          ASM  1991             NaN
12          Antigua and Barbuda          ATG  1991    7.602350e+14
13                    Australia          AUS  1991    1.885580e+14
14                      Austria          AUT  1991    2.241090e+14

In [5]:
df_hdi = pd.read_csv('../data/human-development-index.csv', sep = ';')

df_hdi = df_hdi.drop(df_hdi[df_hdi.Year < 1991].index)

df_hdi
#df_gdp_capita_clean = df_gdp_capita.melt(id_vars=['Country Name', 'Country Code'], var_name = 'Year', value_name = 'GDP_Per_Capita')

#df_gdp_capita_clean["Year"] = pd.to_numeric(df_gdp_capita_clean["Year"])

#df_gdp_capita_clean.head(n=15)

           Entity Code  Year  Human Development Index (UNDP)
2     Afghanistan  AFG  2002                           0.373
3     Afghanistan  AFG  2003                           0.383
4     Afghanistan  AFG  2004                           0.398
5     Afghanistan  AFG  2005                           0.408
6     Afghanistan  AFG  2006                           0.417
...           ...  ...   ...                             ...
4996     Zimbabwe  ZWE  2013                           0.516
4997     Zimbabwe  ZWE  2014                           0.525
4998     Zimbabwe  ZWE  2015                           0.529
4999     Zimbabwe  ZWE  2016                           0.532
5000     Zimbabwe  ZWE  2017                           0.535

[4642 rows x 4 columns]

Inicializo o dataframe de países, para verificar o continente de cada país

In [6]:
df_countries = pd.read_csv('../data/countries/country-continent.csv', sep = ',')
df_countries.rename(columns = {'name': 'Country Name'}, inplace = True)
df_countries.drop(df_countries.columns.difference(['Country Name','region', 'sub-region']), 1, inplace=True)
df_countries
#df_gdp.merge(df_countries, )

C:\Users\Pedro\AppData\Local\Temp\ipykernel_14892\3123994201.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_countries.drop(df_countries.columns.difference(['Country Name','region', 'sub-region']), 1, inplace=True)

          Country Name   region          sub-region
0          Afghanistan     Asia       Southern Asia
1        Åland Islands   Europe     Northern Europe
2              Albania   Europe     Southern Europe
3              Algeria   Africa     Northern Africa
4       American Samoa  Oceania           Polynesia
..                 ...      ...                 ...
244  Wallis and Futuna  Oceania           Polynesia
245     Western Sahara   Africa     Northern Africa
246              Yemen     Asia        Western Asia
247             Zambia   Africa  Sub-Saharan Africa
248           Zimbabwe   Africa  Sub-Saharan Africa

[249 rows x 3 columns]

Realizo um merge com os países e GDP, para verificar quais são os continentes e suas subregiões e agrupo pelas regiões (Continentes)

In [7]:
df_all = pd.merge(df_gdp, df_gdp_capita, left_on = ['Country Name', 'Year', 'Country Code'], right_on = ['Country Name', 'Year', 'Country Code'])
df_all

,Country Name,Country Code,Year,GDP,GDP_Per_Capita
0,Aruba,ABW,1991,8.720670e+08,1.349470e+14
1,Africa Eastern and Southern,AFE,1991,2.734028e+11,8.723910e+14
2,Afghanistan,AFG,1991,NaN,NaN
3,Africa Western and Central,AFW,1991,1.174571e+11,5.584360e+14
4,Angola,AGO,1991,1.060378e+10,8.656930e+13
...,...,...,...,...,...
8210,Kosovo,XKX,2021,9.007159e+09,4.986580e+14
8211,"Yemen, Rep.",YEM,2021,2.106169e+10,6.907590e+14
8212,South Africa,ZAF,2021,4.199464e+11,6.994210e+14
8213,Zambia,ZMB,2021,2.120306e+10,1.120630e+14
8214,Zimbabwe,ZWE,2021,2.621773e+10,1.737170e+14

Realizo as importações para a Regressão

In [8]:
import seaborn as sns; sns.set()
import statsmodels.api as sm
import statsmodels.formula.api as smf
import linearmodels as lm

Junto com o dataset de emissões

In [9]:
df_emissions.rename(columns = {'Total including LUCF': 'Total_Emissions', 'Entity':'Country Name', 'Code':'Country Code'}, inplace = True)
df_all = pd.merge(df_all, df_emissions, left_on = ['Country Name', 'Year', 'Country Code'], right_on = ['Country Name', 'Year', 'Country Code'])
df_all = pd.merge(df_all, df_countries, left_on = ['Country Name'], right_on=['Country Name'])
df_all

,Country Name,Country Code,Year,GDP,GDP_Per_Capita,Total_Emissions,region,sub-region
0,Afghanistan,AFG,1991,NaN,NaN,9.810000e+06,Asia,Southern Asia
1,Afghanistan,AFG,1992,NaN,NaN,9.030000e+06,Asia,Southern Asia
2,Afghanistan,AFG,1993,NaN,NaN,9.110000e+06,Asia,Southern Asia
3,Afghanistan,AFG,1994,NaN,NaN,9.150000e+06,Asia,Southern Asia
4,Afghanistan,AFG,1995,NaN,NaN,9.580000e+06,Asia,Southern Asia
...,...,...,...,...,...,...,...,...
4722,Zimbabwe,ZWE,2015,1.996312e+10,1.445070e+14,4.230000e+07,Africa,Sub-Saharan Africa
4723,Zimbabwe,ZWE,2016,2.054868e+10,1.464590e+14,1.159200e+08,Africa,Sub-Saharan Africa
4724,Zimbabwe,ZWE,2017,1.758489e+10,1.235190e+14,1.155900e+08,Africa,Sub-Saharan Africa
4725,Zimbabwe,ZWE,2018,1.811554e+10,1.254640e+14,1.182200e+08,Africa,Sub-Saharan Africa
4726,Zimbabwe,ZWE,2019,1.928429e+10,1.316740e+14,1.179600e+08,Africa,Sub-Saharan Africa

In [10]:
df_all.dtypes
df_all["GDP_Per_Capita"] = pd.to_numeric(df_all["GDP_Per_Capita"])
df_all.rename(columns = {'Country Name': 'Country_Name'}, inplace = True)
df_all.rename(columns = {'Country Code': 'Country_Code'}, inplace = True)

Faço o modelo de regressão OLS

In [11]:
from operator import concat
#model = smf.ols("Total_Emissions ~ GDP + C(Country_Code) + C(Year)", data=df_all)
model = smf.ols("Total_Emissions ~ GDP + region", data=df_all)
response = model.fit()
response.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        Total_Emissions   R-squared:                       0.644
Model:                            OLS   Adj. R-squared:                  0.643
Method:                 Least Squares   F-statistic:                     1651.
Date:                Tue, 29 Nov 2022   Prob (F-statistic):               0.00
Time:                        18:31:38   Log-Likelihood:                -98034.
No. Observations:                4574   AIC:                         1.961e+05
Df Residuals:                    4568   BIC:                         1.961e+05
Df Model:                           5
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept           4.612e+07   1.37e+07      3.367      0.001    1.93e+07     7.3e+07
region[T.Americas]  1.431e+07   2.18e+07      0.656      0.512   -2.85e+07    5.71e+07
region[T.Asia]      1.917e+08   2.05e+07      9.343      0.000    1.51e+08    2.32e+08
region[T.Europe]   -1.166e+08   2.08e+07     -5.605      0.000   -1.57e+08   -7.58e+07
region[T.Oceania]  -2.565e+07   2.97e+07     -0.864      0.388   -8.39e+07    3.26e+07
GDP                    0.0005   5.59e-06     88.349      0.000       0.000       0.001
==============================================================================
Omnibus:                     5438.960   Durbin-Watson:                   0.080
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1245530.055
Skew:                           6.014   Prob(JB):                         0.00
Kurtosis:                      82.942   Cond. No.                     6.70e+12
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.7e+12. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [12]:
model = smf.ols("Total_Emissions ~ GDP + Country_Name", data=df_all)
response = model.fit()
response.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        Total_Emissions   R-squared:                       0.937
Model:                            OLS   Adj. R-squared:                  0.935
Method:                 Least Squares   F-statistic:                     417.4
Date:                Tue, 29 Nov 2022   Prob (F-statistic):               0.00
Time:                        18:31:39   Log-Likelihood:                -94063.
No. Observations:                4574   AIC:                         1.884e+05
Df Residuals:                    4415   BIC:                         1.895e+05
Df Model:                         158
Covariance Type:            nonrobust
============================================================================================================
                                               coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------
Intercept                                 1.872e+07   4.95e+07      0.378      0.706   -7.84e+07    1.16e+08
Country_Name[T.Albania]                  -1.304e+07   6.31e+07     -0.207      0.836   -1.37e+08    1.11e+08
Country_Name[T.Algeria]                   1.398e+08   6.31e+07      2.217      0.027    1.62e+07    2.63e+08
Country_Name[T.Andorra]                  -1.972e+07   6.31e+07     -0.313      0.754   -1.43e+08    1.04e+08
Country_Name[T.Angola]                    7.178e+07   6.31e+07      1.138      0.255   -5.19e+07    1.95e+08
Country_Name[T.Antigua and Barbuda]      -1.691e+07   6.31e+07     -0.268      0.789   -1.41e+08    1.07e+08
Country_Name[T.Argentina]                  2.52e+08   6.31e+07      3.995      0.000    1.28e+08    3.76e+08
Country_Name[T.Armenia]                  -1.399e+07   6.31e+07     -0.222      0.824   -1.38e+08     1.1e+08
Country_Name[T.Australia]                 3.186e+08   6.32e+07      5.037      0.000    1.95e+08    4.43e+08
Country_Name[T.Austria]                  -4.974e+07   6.31e+07     -0.788      0.431   -1.73e+08     7.4e+07
Country_Name[T.Azerbaijan]                1.811e+07   6.31e+07      0.287      0.774   -1.06e+08    1.42e+08
Country_Name[T.Bahrain]                   8.015e+06   6.31e+07      0.127      0.899   -1.16e+08    1.32e+08
Country_Name[T.Bangladesh]                1.115e+08   6.31e+07      1.768      0.077   -1.21e+07    2.35e+08
Country_Name[T.Barbados]                  -1.63e+07   6.31e+07     -0.258      0.796    -1.4e+08    1.07e+08
Country_Name[T.Belarus]                   3.178e+07   6.31e+07      0.504      0.614   -9.19e+07    1.55e+08
Country_Name[T.Belgium]                  -1.756e+07   6.31e+07     -0.278      0.781   -1.41e+08    1.06e+08
Country_Name[T.Belize]                   -1.014e+07   6.31e+07     -0.161      0.872   -1.34e+08    1.13e+08
Country_Name[T.Benin]                     3.682e+05   6.31e+07      0.006      0.995   -1.23e+08    1.24e+08
Country_Name[T.Bhutan]                   -2.576e+07   6.31e+07     -0.408      0.683   -1.49e+08    9.79e+07
Country_Name[T.Bolivia]                   8.898e+07    6.3e+07      1.412      0.158   -3.46e+07    2.13e+08
Country_Name[T.Botswana]                  3.698e+07   6.31e+07      0.587      0.558   -8.66e+07    1.61e+08
Country_Name[T.Brazil]                    1.292e+09   6.35e+07     20.347      0.000    1.17e+09    1.42e+09
Country_Name[T.Bulgaria]                  7.399e+06   6.31e+07      0.117      0.907   -1.16e+08    1.31e+08
Country_Name[T.Burkina Faso]              1.579e+07   6.31e+07      0.250      0.802   -1.08e+08    1.39e+08
Country_Name[T.Burundi]                  -1.319e+07   6.31e+07     -0.209      0.834   -1.37e+08     1.1e+08
Country_Name[T.Cambodia]                  2.683e+07   6.39e+07      0.420      0.675   -9.85e+07    1.52e+08
Country_Name[T.Cameroon]                  9.763e+07   6.31e+07      1.548      0.122    -2.6e+07    2.21e+08
Country_Name[T.Canada]                     4.22e+08   6.34e+07      6.654      0.000    2.98e+08    5.46e+08
Country_Name[T.Central African Republic]  2.821e+07    6.3e+07      0.448      0.654   -9.53e+07    1.52e+08
Country_Name[T.Chad]                      4.178e+07   6.31e+07      0.662      0.508   -8.19e+07    1.65e+08
Country_Name[T.Chile]                    -2.748e+07   6.31e+07     -0.436      0.663   -1.51e+08    9.62e+07
Country_Name[T.China]                     5.679e+09   6.88e+07     82.531      0.000    5.54e+09    5.81e+09
Country_Name[T.Colombia]                  1.536e+08   6.31e+07      2.436      0.015       3e+07    2.77e+08
Country_Name[T.Comoros]                  -1.845e+07   6.31e+07     -0.293      0.770   -1.42e+08    1.05e+08
Country_Name[T.Costa Rica]               -1.722e+07   6.31e+07     -0.273      0.785   -1.41e+08    1.06e+08
Country_Name[T.Croatia]                  -9.495e+06    6.5e+07     -0.146      0.884   -1.37e+08    1.18e+08
Country_Name[T.Cuba]                     -3.037e+06   6.31e+07     -0.048      0.962   -1.27e+08    1.21e+08
Country_Name[T.Cyprus]                   -1.626e+07   6.31e+07     -0.258      0.797    -1.4e+08    1.07e+08
Country_Name[T.Denmark]                  -3.406e+07   6.31e+07     -0.540      0.589   -1.58e+08    8.96e+07
Country_Name[T.Djibouti]                 -1.767e+07   6.31e+07     -0.280      0.779   -1.41e+08    1.06e+08
Country_Name[T.Dominica]                 -1.839e+07   6.31e+07     -0.292      0.771   -1.42e+08    1.05e+08
Country_Name[T.Dominican Republic]       -6.034e+06   6.31e+07     -0.096      0.924    -1.3e+08    1.18e+08
Country_Name[T.Ecuador]                   5.262e+07   6.31e+07      0.834      0.404    -7.1e+07    1.76e+08
Country_Name[T.El Salvador]              -1.164e+07   6.31e+07     -0.185      0.854   -1.35e+08    1.12e+08
Country_Name[T.Equatorial Guinea]        -7.022e+06   6.31e+07     -0.111      0.911   -1.31e+08    1.17e+08
Country_Name[T.Eritrea]                   -1.37e+07   6.83e+07     -0.201      0.841   -1.48e+08     1.2e+08
Country_Name[T.Estonia]                  -6.817e+06    6.5e+07     -0.105      0.916   -1.34e+08    1.21e+08
Country_Name[T.Eswatini]                 -1.734e+07   6.31e+07     -0.275      0.783   -1.41e+08    1.06e+08
Country_Name[T.Ethiopia]                  1.023e+08   6.31e+07      1.622      0.105   -2.14e+07    2.26e+08
Country_Name[T.Fiji]                      -2.01e+07   6.31e+07     -0.319      0.750   -1.44e+08    1.04e+08
Country_Name[T.Finland]                  -3.735e+07   6.31e+07     -0.592      0.554   -1.61e+08    8.63e+07
Country_Name[T.France]                   -2.623e+08   6.42e+07     -4.084      0.000   -3.88e+08   -1.36e+08
Country_Name[T.Gabon]                     -4.41e+06   6.31e+07     -0.070      0.944   -1.28e+08    1.19e+08
Country_Name[T.Georgia]                  -1.224e+07   6.31e+07     -0.194      0.846   -1.36e+08    1.11e+08
Country_Name[T.Germany]                  -5.151e+07   6.53e+07     -0.789      0.430    -1.8e+08    7.65e+07
Country_Name[T.Ghana]                     1.598e+07   6.31e+07      0.253      0.800   -1.08e+08     1.4e+08
Country_Name[T.Greece]                    2.193e+07   6.31e+07      0.348      0.728   -1.02e+08    1.46e+08
Country_Name[T.Grenada]                  -1.671e+07   6.31e+07     -0.265      0.791    -1.4e+08    1.07e+08
Country_Name[T.Guatemala]                 4.845e+06   6.31e+07      0.077      0.939   -1.19e+08    1.28e+08
Country_Name[T.Guinea]                    6.771e+06   6.31e+07      0.107      0.915   -1.17e+08     1.3e+08
Country_Name[T.Guyana]                   -5.017e+06   6.31e+07     -0.080      0.937   -1.29e+08    1.19e+08
Country_Name[T.Haiti]                    -1.333e+07   6.31e+07     -0.211      0.833   -1.37e+08     1.1e+08
Country_Name[T.Honduras]                  -3.64e+05   6.31e+07     -0.006      0.995   -1.24e+08    1.23e+08
Country_Name[T.Hungary]                   2.018e+07   6.31e+07      0.320      0.749   -1.03e+08    1.44e+08
Country_Name[T.Iceland]                  -1.979e+07   6.31e+07     -0.314      0.754   -1.43e+08    1.04e+08
Country_Name[T.India]                     1.691e+09   6.34e+07     26.656      0.000    1.57e+09    1.81e+09
Country_Name[T.Indonesia]                  1.28e+09   6.31e+07     20.275      0.000    1.16e+09     1.4e+09
Country_Name[T.Iraq]                      1.307e+08   6.31e+07      2.072      0.038    7.05e+06    2.54e+08
Country_Name[T.Ireland]                  -1.572e+07   6.31e+07     -0.249      0.803   -1.39e+08    1.08e+08
Country_Name[T.Israel]                   -5.913e+06    6.5e+07     -0.091      0.927   -1.33e+08    1.21e+08
Country_Name[T.Italy]                    -1.134e+08   6.38e+07     -1.777      0.076   -2.39e+08    1.17e+07
Country_Name[T.Jamaica]                  -1.236e+07   6.31e+07     -0.196      0.845   -1.36e+08    1.11e+08
Country_Name[T.Japan]                    -3.895e+08   6.91e+07     -5.636      0.000   -5.25e+08   -2.54e+08
Country_Name[T.Jordan]                    1.753e+06   6.31e+07      0.028      0.978   -1.22e+08    1.25e+08
Country_Name[T.Kazakhstan]                1.925e+08   6.31e+07      3.052      0.002    6.88e+07    3.16e+08
Country_Name[T.Kenya]                     2.234e+07   6.31e+07      0.354      0.723   -1.01e+08    1.46e+08
Country_Name[T.Kiribati]                 -1.839e+07   6.31e+07     -0.292      0.771   -1.42e+08    1.05e+08
Country_Name[T.Kuwait]                     4.28e+07   6.31e+07      0.679      0.497   -8.08e+07    1.66e+08
Country_Name[T.Latvia]                   -2.291e+07    6.5e+07     -0.353      0.724    -1.5e+08    1.04e+08
Country_Name[T.Lebanon]                  -4.994e+06   6.31e+07     -0.079      0.937   -1.29e+08    1.19e+08
Country_Name[T.Lesotho]                  -1.681e+07   6.31e+07     -0.267      0.790    -1.4e+08    1.07e+08
Country_Name[T.Liberia]                  -4.932e+06   6.83e+07     -0.072      0.942   -1.39e+08    1.29e+08
Country_Name[T.Libya]                     7.728e+07   6.31e+07      1.225      0.220   -4.64e+07    2.01e+08
Country_Name[T.Liechtenstein]            -1.967e+07   6.31e+07     -0.312      0.755   -1.43e+08    1.04e+08
Country_Name[T.Lithuania]                -8.878e+06    6.5e+07     -0.137      0.891   -1.36e+08    1.18e+08
Country_Name[T.Luxembourg]               -2.137e+07   6.31e+07     -0.339      0.735   -1.45e+08    1.02e+08
Country_Name[T.Madagascar]                2.727e+07   6.31e+07      0.432      0.666   -9.64e+07    1.51e+08
Country_Name[T.Malawi]                   -6.172e+06   6.31e+07     -0.098      0.922    -1.3e+08    1.17e+08
Country_Name[T.Malaysia]                  1.988e+08   6.31e+07      3.152      0.002    7.51e+07    3.22e+08
Country_Name[T.Maldives]                 -1.835e+07   6.31e+07     -0.291      0.771   -1.42e+08    1.05e+08
Country_Name[T.Mali]                      5.869e+06   6.31e+07      0.093      0.926   -1.18e+08     1.3e+08
Country_Name[T.Malta]                    -1.846e+07   6.31e+07     -0.293      0.770   -1.42e+08    1.05e+08
Country_Name[T.Marshall Islands]         -1.864e+07   6.31e+07     -0.296      0.768   -1.42e+08    1.05e+08
Country_Name[T.Mauritania]               -9.879e+06   6.31e+07     -0.157      0.876   -1.34e+08    1.14e+08
Country_Name[T.Mauritius]                -1.637e+07   6.31e+07     -0.260      0.795    -1.4e+08    1.07e+08
Country_Name[T.Mexico]                    2.725e+08   6.33e+07      4.308      0.000    1.48e+08    3.97e+08
Country_Name[T.Moldova]                  -8.171e+06    6.5e+07     -0.126      0.900   -1.36e+08    1.19e+08
Country_Name[T.Mongolia]                  1.821e+07   6.31e+07      0.289      0.773   -1.05e+08    1.42e+08
Country_Name[T.Montenegro]               -1.774e+07   6.83e+07     -0.260      0.795   -1.52e+08    1.16e+08
Country_Name[T.Morocco]                     1.7e+07   6.31e+07      0.270      0.787   -1.07e+08    1.41e+08
Country_Name[T.Mozambique]                6.909e+07   6.31e+07      1.096      0.273   -5.45e+07    1.93e+08
Country_Name[T.Myanmar]                   1.925e+08   6.31e+07      3.052      0.002    6.89e+07    3.16e+08
Country_Name[T.Namibia]                   7.182e+05   6.31e+07      0.011      0.991   -1.23e+08    1.24e+08
Country_Name[T.Nauru]                     -1.88e+07   8.29e+07     -0.227      0.821   -1.81e+08    1.44e+08
Country_Name[T.Nepal]                     6.703e+06   6.31e+07      0.106      0.915   -1.17e+08     1.3e+08
Country_Name[T.Netherlands]              -2.584e+07   6.32e+07     -0.409      0.683    -1.5e+08     9.8e+07
Country_Name[T.New Zealand]               2.195e+06   6.31e+07      0.035      0.972   -1.21e+08    1.26e+08
Country_Name[T.Nicaragua]                 1.232e+07   6.31e+07      0.195      0.845   -1.11e+08    1.36e+08
Country_Name[T.Niger]                     7.245e+06   6.31e+07      0.115      0.909   -1.16e+08    1.31e+08
Country_Name[T.Nigeria]                   2.111e+08   6.31e+07      3.347      0.001    8.75e+07    3.35e+08
Country_Name[T.Norway]                   -8.517e+07   6.31e+07     -1.350      0.177   -2.09e+08    3.85e+07
Country_Name[T.Oman]                       2.28e+07   6.31e+07      0.362      0.718   -1.01e+08    1.46e+08
Country_Name[T.Pakistan]                   2.26e+08   6.31e+07      3.582      0.000    1.02e+08     3.5e+08
Country_Name[T.Palau]                    -1.787e+07   6.83e+07     -0.262      0.794   -1.52e+08    1.16e+08
Country_Name[T.Panama]                   -9.078e+06   6.31e+07     -0.144      0.886   -1.33e+08    1.15e+08
Country_Name[T.Papua New Guinea]          2.913e+07   6.31e+07      0.462      0.644   -9.45e+07    1.53e+08
Country_Name[T.Paraguay]                  6.453e+07   6.31e+07      1.023      0.306   -5.91e+07    1.88e+08
Country_Name[T.Peru]                        8.9e+07   6.31e+07      1.411      0.158   -3.46e+07    2.13e+08
Country_Name[T.Philippines]               8.318e+07   6.31e+07      1.319      0.187   -4.05e+07    2.07e+08
Country_Name[T.Poland]                     2.12e+08   6.31e+07      3.360      0.001    8.83e+07    3.36e+08
Country_Name[T.Portugal]                 -4.597e+06   6.31e+07     -0.073      0.942   -1.28e+08    1.19e+08
Country_Name[T.Qatar]                     1.681e+07   6.31e+07      0.267      0.790   -1.07e+08     1.4e+08
Country_Name[T.Romania]                   1.739e+07   6.31e+07      0.276      0.783   -1.06e+08    1.41e+08
Country_Name[T.Rwanda]                   -1.429e+07   6.31e+07     -0.227      0.821   -1.38e+08    1.09e+08
Country_Name[T.Samoa]                    -1.799e+07   6.31e+07     -0.285      0.776   -1.42e+08    1.06e+08
Country_Name[T.Sao Tome and Principe]    -1.866e+07   6.91e+07     -0.270      0.787   -1.54e+08    1.17e+08
Country_Name[T.Saudi Arabia]              3.293e+08   6.31e+07      5.218      0.000    2.06e+08    4.53e+08
Country_Name[T.Senegal]                   2.706e+06   6.31e+07      0.043      0.966   -1.21e+08    1.26e+08
Country_Name[T.Serbia]                    2.093e+07    6.5e+07      0.322      0.747   -1.06e+08    1.48e+08
Country_Name[T.Seychelles]               -1.823e+07   6.31e+07     -0.289      0.773   -1.42e+08    1.05e+08
Country_Name[T.Sierra Leone]             -1.153e+07   6.31e+07     -0.183      0.855   -1.35e+08    1.12e+08
Country_Name[T.Singapore]                -2.247e+07   6.31e+07     -0.356      0.722   -1.46e+08    1.01e+08
Country_Name[T.Slovenia]                 -2.086e+07    6.5e+07     -0.321      0.748   -1.48e+08    1.07e+08
Country_Name[T.Solomon Islands]          -1.324e+07   6.31e+07     -0.210      0.834   -1.37e+08     1.1e+08
Country_Name[T.Somalia]                    2.19e+07   9.36e+07      0.234      0.815   -1.62e+08    2.05e+08
Country_Name[T.South Africa]              3.588e+08   6.31e+07      5.688      0.000    2.35e+08    4.83e+08
Country_Name[T.South Sudan]               4.668e+07   8.93e+07      0.523      0.601   -1.28e+08    2.22e+08
Country_Name[T.Spain]                    -2.816e+07   6.33e+07     -0.445      0.657   -1.52e+08     9.6e+07
Country_Name[T.Sri Lanka]                -2.136e+06   6.31e+07     -0.034      0.973   -1.26e+08    1.21e+08
Country_Name[T.Sudan]                     7.428e+07   6.31e+07      1.178      0.239   -4.94e+07    1.98e+08
Country_Name[T.Suriname]                 -1.077e+07   6.31e+07     -0.171      0.864   -1.34e+08    1.13e+08
Country_Name[T.Sweden]                   -9.316e+07   6.31e+07     -1.476      0.140   -2.17e+08    3.06e+07
Country_Name[T.Switzerland]              -1.218e+08   6.31e+07     -1.929      0.054   -2.46e+08    1.98e+06
Country_Name[T.Tajikistan]               -1.009e+07   6.31e+07     -0.160      0.873   -1.34e+08    1.14e+08
Country_Name[T.Tanzania]                  9.294e+07   6.31e+07      1.474      0.141   -3.07e+07    2.17e+08
Country_Name[T.Thailand]                  2.009e+08   6.31e+07      3.185      0.001    7.73e+07    3.25e+08
Country_Name[T.Togo]                     -1.283e+07   6.31e+07     -0.203      0.839   -1.36e+08    1.11e+08
Country_Name[T.Tonga]                    -1.843e+07   6.31e+07     -0.292      0.770   -1.42e+08    1.05e+08
Country_Name[T.Trinidad and Tobago]       3.538e+04   6.31e+07      0.001      1.000   -1.24e+08    1.24e+08
Country_Name[T.Tunisia]                   2.759e+06   6.31e+07      0.044      0.965   -1.21e+08    1.26e+08
Country_Name[T.Turkmenistan]              8.749e+07   6.31e+07      1.387      0.165   -3.62e+07    2.11e+08
Country_Name[T.Tuvalu]                   -1.873e+07   6.31e+07     -0.297      0.766   -1.42e+08    1.05e+08
Country_Name[T.Uganda]                    1.845e+07   6.31e+07      0.293      0.770   -1.05e+08    1.42e+08
Country_Name[T.Ukraine]                   3.073e+08   6.31e+07      4.873      0.000    1.84e+08    4.31e+08
Country_Name[T.United Arab Emirates]      7.425e+07   6.31e+07      1.177      0.239   -4.94e+07    1.98e+08
Country_Name[T.United Kingdom]           -1.031e+08   6.43e+07     -1.603      0.109   -2.29e+08     2.3e+07
Country_Name[T.United States]             1.778e+09   9.82e+07     18.098      0.000    1.58e+09    1.97e+09
Country_Name[T.Uruguay]                  -3.472e+06   6.31e+07     -0.055      0.956   -1.27e+08     1.2e+08
Country_Name[T.Uzbekistan]                1.361e+08   6.31e+07      2.159      0.031    1.25e+07     2.6e+08
Country_Name[T.Vanuatu]                  -1.822e+07   6.31e+07     -0.289      0.773   -1.42e+08    1.05e+08
Country_Name[T.Vietnam]                   1.273e+08   6.31e+07      2.018      0.044    3.64e+06    2.51e+08
Country_Name[T.Zambia]                    4.449e+07   6.31e+07      0.706      0.481   -7.91e+07    1.68e+08
Country_Name[T.Zimbabwe]                  2.887e+07   6.31e+07      0.458      0.647   -9.48e+07    1.53e+08
GDP                                          0.0003   5.82e-06     54.982      0.000       0.000       0.000
==============================================================================
Omnibus:                     2792.878   Durbin-Watson:                   0.187
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1355504.833
Skew:                          -1.612   Prob(JB):                         0.00
Kurtosis:                      87.273   Cond. No.                     2.76e+14
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.76e+14. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [13]:
df_all_fe = df_all.set_index(["Country_Name","Year"])

df_all_fe.head()

                  Country_Code  GDP  GDP_Per_Capita  Total_Emissions region  \
Country_Name Year
Afghanistan  1991          AFG  NaN             NaN     9.810000e+06   Asia
             1992          AFG  NaN             NaN     9.030000e+06   Asia
             1993          AFG  NaN             NaN     9.110000e+06   Asia
             1994          AFG  NaN             NaN     9.150000e+06   Asia
             1995          AFG  NaN             NaN     9.580000e+06   Asia

                      sub-region
Country_Name Year
Afghanistan  1991  Southern Asia
             1992  Southern Asia
             1993  Southern Asia
             1994  Southern Asia
             1995  Southern Asia

Realizo a regressão em painel

In [16]:
exog_vars = ["GDP"]
exog = sm.add_constant(df_all_fe[exog_vars])
endog = df_all_fe["Total_Emissions"]
mod_entity = lm.PanelOLS(endog, exog, entity_effects=True, time_effects=True, check_rank=False)
res_entity = mod_entity.fit()
print(res_entity)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:        Total_Emissions   R-squared:                        0.3996
Estimator:                   PanelOLS   R-squared (Between):              0.5695
No. Observations:                4574   R-squared (Within):               0.4073
Date:                Tue, Nov 29 2022   R-squared (Overall):              0.5521
Time:                        18:32:00   Log-likelihood                -9.406e+04
Cov. Estimator:            Unadjusted
                                        F-statistic:                      2916.5
Entities:                         163   P-value                           0.0000
Avg Obs:                       28.061   Distribution:                  F(1,4382)
Min Obs:                       7.0000
Max Obs:                       29.000   F-statistic (robust):             2916.5
                                        P-value                           0.0000
Time periods:                      29   Distribution:                  F(1,4382)
Avg Obs:                       157.72
Min Obs:                       145.00
Max Obs:                       162.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const       1.171e+08  3.607e+06     32.467     0.0000     1.1e+08   1.242e+08
GDP            0.0003  5.996e-06     54.005     0.0000      0.0003      0.0003
==============================================================================

F-test for Poolability: 116.42
P-value: 0.0000
Distribution: F(190,4382)

Included effects: Entity, Time

C:\Users\Pedro\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\linearmodels\panel\model.py:1183: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  super().__init__(dependent, exog, weights=weights, check_rank=check_rank)